.card-img-size{
    width: 100%;
}

.fit-content{
    height: fit-content;
}

/* Estilo base para la imagen */
.size-img {
    width: 100%; /* Por defecto, ocupa todo el ancho */
}

/* Media Query para tablet */
@media (min-width: 768px) and (max-width: 991.98px) {
    .size-img {
        width: 75%; /* La imagen ocupa el 75% del ancho en tablet */
    }
}

/* Media Query para computadora */
@media (min-width: 992px) {
    .size-img {
        width: 75%; /* La imagen ocupa el 75% del ancho en computadora */
    }
}

/* Media Query para celular */
@media (max-width: 767.98px) {
    .size-img {
        width: 100%; /* La imagen ocupa el 100% del ancho en celular */
    }
}
